# build output
dist/
# dependencies
node_modules/
# generated types
.astro/
# environment
.env
.env.*
!.env.example
# macOS
.DS_Store
# logs
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
